html {
    font-size:  62.5%;
}

body {
    height: 100vh;
    background: url('../images/bg-desktop.svg') no-repeat center center;
    background-size: cover;
    background-color: var(--hard);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.header {
    padding-top: 40px;
    padding-left: 40px;
    max-width: 100%;
}

.header img {
    max-width: 1440px;
}


.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 50px;
    
}

.item-left img{
    max-width: 1440px;
}

.about .item-right {
    padding: 50px;
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: auto;
    max-width: 520px;
}

.about .item-right h2 {
    font-weight: 600;
    font-size: 2.5rem;
}
 

.about .item-right p {
    padding: 15px 0 10px 0;
    font-size: 1.4rem;
}

.btn-register a{
    background-color: var(--light);
    font-size: 1.4rem;
    width: 140px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 3px 12px #424141;
    transition: 0.3s;
}

.btn-register a:hover {
    background-color: var(--soft);
    color: var(--light);
}

.footer {
    height: 70px;
}

.footer nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;

}

.footer nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.footer nav li{
    padding: 5px;
}

.footer nav i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    border: 1px solid var(--light);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: var(--light);   
}

.footer nav i:hover{
    color: var(--soft);
    border-color: var(--soft);
}
